/*body design*/
body {
  background-color:#2f4f4f;
background-size:cover;
}
	

/*Header background*/
.header{
	background-color:white;
	text-align:center;
	
}

/*header text*/
.reveal{
  vertical-align: middle;
  text-align: center;
  font-size:50px;
  font-family:Goudy Old Style;
  font:bolder;
  color:#2f4f4f;
  background-color:white;
}

/*Wild atlantic way logo*/
.logo{
	text-align:center;
	background-color:white;	
}
/*second header*/
.event{
	background-color:#008080;
	color:white;
	text-align:center;
	font-family:Goudy Old Style;
	font-size:20px;
	vertical-align:center;
	width:100%;
}

/*carousel dimensions*/
.carousel {
   position:relative;
   width:100%;
   height:100%;
   overflow:hidden;
   background-color: #2f4f4f  
}

.carousel .item {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
}
/*map widget*/
.map{
	margin-bottom:30px;
}


.responsive-youtube{
	width: 100%;
	height:0;
	padding-bottom:56.25%;
	position:relative;
	
}

.responsive-youtube iframe{
	position:absolute;
	width:100%;
	height:100%;
}


 



/*John B kean quote*/
.quote{
  vertical-align:center;
   font-family: 'Times New Roman',serif;
   letter-spacing: 5px;
   font-size: 170px;
   font-weight: bold;
   margin-top:20px;
   margin-left:30px;
   background-image: linear-gradient(
	to right,
	#462523 0,
    #cb9b51 12%, 
	#f6e27a 45%,
	#f6f2c0 50%,
	#f6e27a 55%,
	#cb9b51 88%,
	#462523 100%
	);
   color:transparent;
   -webkit-background-clip:text;

}

/*quote body*/
.wonder{
	margin-top:50px;
	font-style: italic;
	font-weight:bold;
	text-align:center;
  
}

.button-container{
 width: 100%;
  height: auto;
}	


/*signature design*/
.john{
	margin-top:40px;
	font-family: Brush Script MT;
	color:#D4AF37;
	font-style: italic;
	text-align:center;
}
.wonder:hover {
  color: #D4AF37;
  font-style:normal;
  
}

/*map widget dimensions*/

.map-wrapper{
	max-width:600px;
	text-align:center;
}

.googlemap{
	width:100%
}


.scenery{
	text-align:center;
}

.responsive {
  width: 100%;
  height: auto;
  margin-bottom:20px;
  margin-top:20px;
  margin-right:20px;
  margin-left:20px;
}



/* The Modal (background) */
.modal {
  display: none; 
  position:fixed;
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.3); 
 
}

/* Modal Content/Box */
.modal-content {
  background-color: #008080;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
color:white;  
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
  text-align:right;
}

/*modal close function*/
.close:hover,
.close:focus {
  color: #008080;
  text-decoration: none;
  cursor: pointer;
} 


/*Sponsor Thank you*/
.sponsors{
	color:white;
	margin-top:30px;
	margin-left:20px;
}


/*Parknasilla image*/	
.park{
	margin-top:20px;
	margin-bottom:20px;
	margin-left:40px;
	text-align:center;
}

.park:hover {
  background-color: #6a5acd;
}
/*Louis Mulcahy image*/
.louis{
	margin-top:20px;
	margin-bottom:20px;
	text-align:center;
	margin-left:40px;
}

.louis:hover {
  background-color:#ffa500 ;
}
	

/*footer banner design*/
.footer{
	background:black;
}

/*socials*/
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
    border-radius: 50%;
}

.fa-facebook {
  background: #3B5998;
  color: white;
  margin-top:5px;
  margin-bottom:5px;
}
.fa:hover {
  opacity: 0.7;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
  margin-top:5px;
  margin-bottom:5px;
}